.product__button-box{
    margin-top: 14px;
    display: flex;

}
.product__button-box div{
    margin-right: 13px;
}
label{
    display: inline-block;
}
input{
    display: none;
}
i{
    position: relative;
    display: inline-block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
}
.wh{
    background: #ffffff;
}
.red{
    background: #dd5656;
}
.bk{
    background: #000000;
}
i::before{
    content: "";
    position: absolute;
    border: 1px solid #000000;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top: -7px;
    left: -7px;
    opacity: 0;
}
input:checked + i::before{
    opacity: 1;
}