*{
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}
.wrapper{
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    display: flex;
}
.sidebar-container{
    display: flex;
    flex-basis: 255px;
    justify-content: center;
}
.sidebar{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
}
h1{
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    text-transform: uppercase;
}
.item{
    display: flex;
    flex-basis: 190px;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
}
.sidebar__title{
    font-size: 14px;
    color: #4a4a4a;
}
.sidebar__img{
    width: 195px;
    height: 164px;
    background: rgba(0, 84, 254, 0.04);
    mix-blend-mode: normal;
    border-radius: 8px;
}





.content{   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f2f2f2;
}
.content-container{
    display: flex;
    height: 788px;
    flex-basis: 1124px;
    flex-direction: column;
    justify-content: space-between;
}
.objectives{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}
h2{
    font-size: 16px;
    color: #4a4a4a;
}
.texts{
    display: flex;
    justify-content: space-between;
    flex-basis: 185px;
}
.objectives-text {
    flex-basis: 547px;
    background: #ffffff;
    border-radius: 5px;

    font-size: 14px;
    color: rgba(74, 74, 74, 0.5);
}
.preparation{
    display: flex;
    flex-direction: column;
}
.preparation-wrapper{
    flex-basis: 494px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
}
.preparation-content{
    display: flex;
    flex-basis: 453px;
    justify-content: space-evenly;
}
.preparation-content-left{
    display: flex;
    flex-basis: 870px;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 870px;
}
.preparation-content-left-top{
    display: flex;
    justify-content: space-between;
    flex-basis: 240px;
}
.teems{
    flex-basis: 195px;
    border-radius: 8px;
    background: rgba(0, 84, 254, 0.04);

}
.content-title{
    font-size: 14px;
    color: #4a4a4a;
}
.content-subtitle{
    font-size: 14px;
    color: rgba(74, 74, 74, 0.5);
}
.test{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.test{
    flex-basis: 659px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: rgba(0, 84, 254, 0.04);
}
.content-items{
    flex-basis: 169px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px dashed rgba(74, 74, 74, 0.24);;
}
.content-item{
    flex-basis: 98px;
    display: flex;
    height: 90%;
    align-items: center;
    border-radius: 8px;
    background: rgba(0, 84, 254, 0.04);
    font-size: 14px;
    color: rgba(74, 74, 74, 0.5);
}
.preparation-content-left-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 197px;
    border-radius: 8px;
    background: rgba(0, 84, 254, 0.04);
}
.review-content{
    display: flex;
    flex-basis: 133px;
    justify-content: space-around;
}
.write{
    font-size: 12px;
    color: #4a4a4a;
}
.date{
    font-size: 12px;
    font-weight: bold;
    color: #4a4a4a;
}
.email{
    display: flex;
    flex-direction: column;
}
.email-text{
    display: flex;
    flex-direction: column;
}
.reminder{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.reminder-content{
    width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 0;
}
.ethical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 33.33%;
}
.preparation-content-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 195px;
    border-radius: 8px;
    background: rgba(0, 84, 254, 0.04);
}

input{
    display: none;
}
label{
    position: relative;
}
label::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #4a4a4a;
    border-radius: 1px;
    position: absolute;
    left: -18px;
}