.banner{
    width: 100%;
    background: #2b2825;

}
.banner-wrapper{
    max-width: 1240px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.picture{
    position: absolute;
    top: 0;
    left: -100px;
}
.info{
    padding: 200px 0px 180px;
    width: 100%;
    max-width: 510px;
}
.sub-title{
    font-size: 16px;
    color: #ffffff;
}
.title{
    margin-top: 13px;
    font-size: 40px;
    color: #ffffff;
}
.price-box{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;

}
.price{
    margin-right: 34px;
    font-size: 40px;
    color: #f2f2f2;
}
.price-button{
    padding: 12px 48px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    background: #ffc700;
}
.footnote{
    margin-top: 10px;
    font-size: 13px;
    color: #ffc700;
}