footer{
    margin-top: 69px;
    width: 100%;
    background: #2b2835;
}
.foot{
    padding-top: 55px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.foot-menu h3{
    font-size: 30px;
    color: #ffffff;
}
.foot-menu ul{
    list-style: none;
}
.foot-menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 31px;
    color: #ffffff;
}
.folow-us{
    position: relative;
    width: 260px;
    height: 239px;
}
.social-icon{
    position: absolute;
    top: 59px;
    left: -2px;
    display: flex;
}
.social-icon a{
    margin-right: 11px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.instagram{
    background: url(../img/Folow\ us.svg);
}
.facebook{
    background: url(../img/Folow\ us.svg);
    background-position: -44px 0px;
}
.twitter{
    background: url(../img/Folow\ us.svg);
    background-position: -88px 0px;
}
.whatsapp{
    background: url(../img/Folow\ us.svg);
    background-position: -132px 0px;
}
.sub-foot{
    padding-top: 40px;
    padding-bottom: 21px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    opacity: .31;
}